*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin:20px auto;
    width: 85%;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* Start accordion  */
img{
    width: 50%;
    cursor: pointer;
}
.modal{
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.modal img{
    width: 80%; 
    margin-top: 40px;
}
.modal .close{
    position: absolute;
    right: 40px;
    top: 40px;
    color: #FFF;
    font-size: 28px;
    cursor: pointer;
}
.modal .desc{
    position: absolute;
    bottom: 40px;
    left: 50%; 
    color: #FFF;
}
    .modal img,
    .modal .desc{
        animation: zoom .3s;
    }
@keyframes zoom {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}