*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin:20px auto;
    width: 85%;
}
/* Start Home  */
.image{
    height: 600px;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
}


